<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BackendSabkaSewak"
        tools:targetApi="31">
        <activity
            android:name=".activity.Notes"
            android:exported="false" />
        <activity
            android:name=".activity.EditBook"
            android:exported="false" />
        <activity
            android:name=".activity.Book"
            android:exported="false" />
        <activity
            android:name=".activity.EditNews"
            android:exported="false" />
        <activity
            android:name=".activity.School"
            android:exported="false" />
        <activity
            android:name=".activity.Library"
            android:exported="false" />
        <activity
            android:name=".activity.EditResult"
            android:exported="false" />
        <activity
            android:name=".activity.PdfViwer"
            android:exported="false" />
        <activity
            android:name=".activity.EditNotice"
            android:exported="false" />
        <activity
            android:name=".activity.News"
            android:exported="false" />
        <activity
            android:name=".activity.StudentDetails"
            android:exported="false" />
        <activity
            android:name=".activity.Result"
            android:exported="false" />
        <activity
            android:name=".activity.Notice"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>